/* Definition des typographies et des propriétés générales  */

@font-face {
    font-family: "beyno";
    src: url("fonts/BEYNO.ttf");
}

@font-face {
    font-family: "cantarell";
    src: url("fonts/Cantarell-Regular.ttf");
}

@font-face {
    font-family: "panthera";
    src: url("fonts/panthera.otf");
}

@font-face {
    font-family: "WakandaForever";
    src: url("fonts/WakandaForever-Regular.ttf");

}
    /* --------- ANNIMATION DES CONTENUS---------- */
section, img, p, h1, h2, h3, h4, h5, h6, span, li  {
    position: relative;
    -webkit-animation-name: fade-in;
            animation-name: fade-in;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;

}

@-webkit-keyframes fade-in {
    from {
        right: 350px;
    }
    to {
        right: 0px;
    }
}

@keyframes fade-in {
    from {
        right: 350px;
    }
    to {
        right: 0px;
    }

}


/* Fin typographie */


/* STYLES  global */

* {
    margin: 0;
    padding: 0;
}

:root {
    --violet-primaire: #3D2DA6;
    --violet-secondaire: #07338C;
    --violet-tertiaire: #021740;
    --white: #FFFFFF;
    --white-primaire: #F2CEF2;
    --white-violet-1: #9E91B7;
    --white-violet-2: #DF99F2;
}

h1 {
    font-family: "panthera";
    font-size: 68px;
    font-style: regular;
    color: var(--white-violet-1);
    margin: 10px 0px;
}

h2 {
    font-family: "beyno";
    font-size: 32px;
    font-style: regular;
    color: var(--white-violet-1);
}

p {
    font-family: "cantarell";
    font-size: 14px;
    color: var(--white-primaire);
}

body {
    background-image: url("../Illustrations + Logo/All pages/arrière_plan.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    height: 100%;
    overflow-x: hidden;
}

.btn-form {
    font-family: "cantarell";
    font-style: bold;
    width: 174px;
    height: 54px;
    border-radius: 38px;
    color: var(--violet-tertiaire);
    border: 0;
    background-color: var(--white-primaire);
}


/* Fin du STYLES global */


/* STYLES du header  */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 100px;
}

header .logo-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .logo-header img {
    margin: 5px;
}

header .menu ul li {
    display: inline-block;
    margin: 25px;
}

header .menu ul li a {
    text-decoration: none;
    font-family: "beyno";
    font-size: 20px;
    font-style: regular;
    color: var(--white);
}

header .menu ul li a:hover{
    text-decoration: underline;
    color: var(--white);

}
header .menu .active {
    text-decoration: underline;
    color: var(--violet-secondaire);
}

header .logo-header .logo-sayna:hover,
header .logo-header .x:hover,
header .logo-header .logo-marvel:hover{
    filter: invert(85%) sepia(110%) saturate(1081%) hue-rotate(197deg) brightness(92%) contrast(110%);
}


/* Fin du STYLES Header */


/* STYLES des contenus  */


/* STYLES DE LA PAGE INDEX */


/* STYLES de la section black panther */

.section-panther {
    background-image: url("../Illustrations + Logo/Accueil/Pantherhome1..png");
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

.section-panther .social-logo {
    position: fixed;
    top: 0;
    left: 2.5%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 3px solid var(--white-violet-1);
    border-bottom: 0;
    border-top: 0;
    border-right: 0;
}

.section-panther .social-logo .ligne {
    height: 40vh;
    border: 1px solid var(--white-violet-1);
}

.section-panther .social-logo .icon-social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.section-panther .social-logo .icon-social img {
    margin: 0px;
    margin: 10px 10px;
    padding-top: 5px;
}

.section-panther .intro-panther {
    margin-left: 12%;
}

.section-panther .intro-panther .sous-titre {
    margin-bottom: 25px;
}

.section-panther .intro-panther .texte-intro {
    display: block;
    width: 500px;
    margin-bottom: 10px;
}
.section-panther .intro-panther .texte-intro,
.section-panther .intro-panther .voir{
    color: var(--white);
}

.section-panther .intro-panther a {
    color: var(--white-primaire);
    font-family: "cantarell";
}

.section-panther .icon-social .logo_facebook:hover,
.section-panther .icon-social .logo_instagram:hover,
.section-panther .icon-social .logo_twitter:hover,
.section-panther .icon-social .logo_tiktok:hover{
    filter: invert(100%) sepia(5%) saturate(190%) hue-rotate(344deg) brightness(672%) contrast(110%);
}


/* Fin intro black panther */


/* STYLES section slide hero */

.container-slides {
    margin-left: 8%;
    background-color: var(--violet-tertiaire);
    display: flex;
    
}

.container-slides .card {
    display: flex;
    align-items: center;
    height: 250px;
}

.container-slides .card img {
    height: 100%;
}
 
.container-slides .card .img-active-1{
    margin-left: 30px;
}

.container-slides .card .decription-slide {
    clear: left;
    margin-top: 30px;
    margin: 0px 30px;
}

.container-slides .card .decription-slide .titre-slide {
    font-size: 32px;
    margin-bottom: 10px;
}

.container-slides .card .decription-slide .texte-slide {
    text-align: justify;
    margin-bottom: 10px;
    color: var(--white);
    font-size: 12px;
}

.container-slides .card .decription-slide a {
    color: var(--white);
    font-family: "cantarell";
    font-size: 12px;
}



.container-slides .card .img-active-1:hover,
.container-slides .card .img-active-2:hover{
    transform: scale(1.14);
}

/* Fin section slide hero */


/* STYLES de la Section naissance du prince */

#dob-prince {
    padding-left: 15%;
    padding-top: 10%;
    display: flex;
    justify-content: center;
}

#dob-prince .contenu-text {
    width: 600px;
}

#dob-prince .contenu-text h2 {
    margin: 20px 0px;
    font-size: 20px;
}

#dob-prince .contenu-text p span {
    display: block;
    margin-bottom: 20px;
    text-align: justify;
    color: var(--white);
}

#dob-prince .presentation {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dob-prince .presentation .img-panther {
    margin-bottom: 50px;
    width: 100%;
}

#dob-prince .presentation .profil {
    width: 400px;
    background-color: var(--white);
    border-radius: 10px;
    margin: auto;
    text-align: center;
}

#dob-prince .presentation .profil img {
    margin-top: -60%;
    width: 80%;
}

#dob-prince .presentation .profil .btn-profil {
    display: inline-block;
    text-decoration: none;
    font-size: 10px;
    border-radius: 5px;
    font-family: "cantarell";
    background-color: var(--violet-primaire);
    color: var(--white);
    padding: 10px 15px;
    margin: 10px;
}

#dob-prince .presentation .profil .biographie {
    text-align: left;
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
}

#dob-prince .presentation .profil .biographie p span {
    display: block;
    margin: 10px;
    color: var(--violet-tertiaire);
}

#dob-prince .presentation .profil .biographie p .detail {
    font-size: 0.8em;
    font-style: normal;
}


/* Fin du STYLES de la Section naissance du prince */


/* STYLES du Section CONTACT  */

#contact {
    background-image: url("../Illustrations + Logo/Accueil/Pantherhome7.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 10%;
}

#contact .contact-main {
    margin: auto;
    width: 500px;
    height: 500px;
    background-image: linear-gradient(to bottom, var(--white), rgba(255, 255, 255, 0.1));
    border-radius: 150px;
    text-align: center;
    padding: 50px 200px;
}

#contact .contact-main .question,
#contact .contact-main .titre {
    font-size: 14px;
    font-family: "cantarell";
    color: var(--violet-tertiaire);
}

#contact .contact-main .titre {
    font-size: 40px !important;
    margin-bottom: 20px;
}

#contact .contact-main input[type=text],
#contact .contact-main input[type=email],
#contact .contact-main textarea {
    width: 80%;
    margin: 10px 0px;
    background-color: #FFFFFF00;
    border: 1px solid var(--violet-tertiaire);
    height: 48px;
    padding-left: 20px;
    border-radius: 28px;
}

#contact .contact-main textarea {
    height: 200px;
}

#contact .contact-main .btn-index:hover {
    filter: drop-shadow(0 0 20px var(--violet-tertiaire));
}


/* fin section CONTACT */

/* Fin de style du contenu  */


/* STYLES DU FOOTER INDEX */


/* Definition style footer */

footer {
    background-image: url("../Illustrations + Logo/All pages/back_footer.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
}

footer .logo-footer {
    background-image: url("../Illustrations + Logo/All pages/footer1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 385px;
    width: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

footer .logo-footer:hover{
    transform: scale(1.1);
}

footer .policies {
    display: flex;
    flex-direction: column;
    height: 385px;
    margin-left: 50px;
}

.policies .link {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.policies .link .titre {
    font-family: "cantarell";
    font-size: 22px;
    color: var(--white);
    letter-spacing: 0.28em;
    margin-bottom: 25px;
}

.policies .link .pages ul li {
    display: block;
    margin-bottom: 10px;
}

.policies .link li:hover{
    text-decoration: underline var(--white);
}

.policies .link .pages ul li a {
    text-decoration: none;
    font-family: "cantarell";
    font-size: 16px;
    color: var(--white);
}

.policies .link .social .social-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.policies .link .social .social-logo img:hover {
    transform: scale(1.10);
}

.policies .condition-right {
    text-decoration: none;
    font-family: "cantarell";
    font-size: 14px;
    color: var(--white);
    align-items: center;
    margin-top: 100px;
}

.policies .condition-right p span {
    font-family: " sans-serif";
    font-size: 5em;
    border-radius: 50%;
}


/* Fin style footer */


/* ______________________________________________________________________ */


/* ------------------------ PROPRIETE RESPONSIVE ------------------------ */


/* ______________________________________________________________________ */

@media (max-width: 800px) {
    /* DEFNITION DES PROPRIETE RESPONSIVE A PARTIR D'ECRAN DE 800PX */

    /* feuille de style menu */
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header .menu ul li {
        display: block;
        margin: 0px;
        text-align: center;
    }
    /* Fin menu  */
    /* feuille de style footer */
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    footer .policies {
        margin: 0px;
        height: auto;
    }
    .policies .link {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .policies .link .pages,
    .policies .link .social {
        margin: 20px 0px;
    }
    .policies .condition-right {
        margin-top: 10px;
    }
    /* fin footer */

    /* --------- RESPONSIVE SPECIFIQUE A LA PAGE INDEX ---------- */

    /* Propriete Responsive de la section black panther */

    .section-panther .intro-panther {
        margin: auto;
        width: 90%;
        text-align: center;
        margin: 100px 0px;
    }
    .section-panther .intro-panther .texte-intro {
        display: block;
        width: auto;
    }
    /* Fin  */
    /* style responsive  section slide hero */
    .container-slides {
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-slides .card {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 90%;
        height: auto;
        text-align: center;
        margin-bottom: 20px;
    }
    .container-slides .card img {
        width: 80%;
    }
    .container-slides .card .img-active {
        height: auto;
        transform: none;
    }
    /* Fin section slide hero */
    /* Propriete responsive Section naissance du prince */
    #dob-prince {
        padding: 0;
        padding-top: 10%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    #dob-prince .presentation {
        margin: auto;
        width: 90%;
        margin-top: 300px;
    }
    #dob-prince .contenu-text {
        width: 90%;
    }
    #dob-prince .presentation .profil {
        width: 90%;
    }
    /* Fin Section naissance du prince */
    /* Responsive Section CONTACT  */
    #contact .contact-main {
        width: 90%;
        height: auto;
        /* padding: 0px; */
        border-radius: 100px;
        padding: 20px 0px;
    }
    /* fin section CONTACT */
}


